<head>
    <title>Add Photos to Albums</title>

{% if photos %}
<h2>Here are your photos</h2>
    <ul>
    {% for photo in photos %}
        <li>photo_id: {{photo[1]}}<br>
        <li>{{photo[2]}}<br>
        <img src='data:image/jpg;base64, {{ base64.b64encode(photo[0]).decode("ascii") }}'/></li>
    {% endfor %}
    </ul>
{% endif %}

<body>
    <div class="title">
        <h1>Enter the id of a photo and an Album to add it to below</h1>
    </div>
    <div id="content">
        <form method="post" action="{{ url_for('create_album') }}">
            <label for="albumname">Enter your Album Name:</label>
            <input type="albumname" name="albumname" /><br />
            <label for="photoid">Enter your photo id:</label>
            <input type="photoid" name="photoid" /><br />
            <input type="submit" />
        </form>
     </div>
</body>