<!-- author ben lawson (balawson@bu.edu) -->
<!doctype html>

{% if isliked==1 %}
<h3 style="color:brown"> You already liked that post </h3>
{% endif %}
{% if photos %}
<h2>Here are your photos</h2>
    <ul>
    {% for photo in photos %}
        <li>photo_id: {{photo[1]}}<br>
        <li>{{photo[2]}}<br>
        <img src='data:image/jpg;base64, {{ base64.b64encode(photo[0]).decode("ascii") }}'/></li>
        <form action='browse2' method='POST'>
          <input type='text' name='photo_id' id='photo_id' value="{{photo[1]}}" hidden="true" ></input>
          <input type="submit" name='submit' id='submit' value="Like?" >
        </form></br>
        <form action='browse' method='POST'>
          <input type='text' name='comment' id='comment'  placeholder='Leave a comment' required minlength="1" style="width: 15in;"></input>
          <input type='text' name='photo_id' id='photo_id' value="{{photo[1]}}" hidden="true" ></input>
          <input type='submit' name='submit'></input>
           </form></br>
        {% if likes %}
          <h3> Likes :</h3>
          {%for likeid in likes %}

            {% if likeid[0]==photo[1] %}
              <h4>{{likeid[1]}} Likes in this post wohoo</h4> 

            {% endif %}
          {% endfor %}
        {% endif %}   
        {% if comments %}
          <h3> comment section :</h3>
          {%for comment in comments %}
            {% if photo[1]==comment[0] %}
              <h4>{{comment[1]}} left by user: {{comment[2]}}</h4>
              
            {% endif %}
          {% endfor %}
        {% endif %}
        
    {% endfor %}
    </ul>
{% endif %}



<ul>

<li><a href='/'>Home</a></li>

</ul>
