<!-- author ben lawson (balawson@bu.edu) -->
<!doctype html>


{% if photos %}
<h2>Here are your photos</h2>
    <ul>
    {% for photo in photos %}
        <li>photo_id: {{photo[1]}}<br>
        <li>{{photo[2]}}<br>
        <img src='data:image/jpg;base64, {{ base64.b64encode(photo[0]).decode("ascii") }}'/></li>

        {% if comments %}
          <h3> comment section :</h3>
          {%for comment in comments %}
            {% if photo[1]==comment[0] %}
              <h4>{{comment[1]}} left by user: {{comment[2]}}</h4>
              
            {% endif %}
          {% endfor %}
        {% endif %}
        
    {% endfor %}
    </ul>
{% endif %}



<ul>

<li><a href='/'>Home</a></li>

</ul>
